seaborn
streamlit
pandas == 1.5.3
numpy == 1.24.0
matplotlib==3.4.0
altair
altair_catplot
xlsxwriter
openpyxl
textblob
scikit-learn
graphviz
pydot
pydotplus
mlxtend
bokeh
fpdf
pingouin
skope-rules
#export_graphviz
pyrs
plotly
plotly.express 
pillow
requests
beautifulsoup4
pillow
#export_text 
#export_graphviz
#dtreeviz
